{% extends "base.html" %}

{% block content %}
<h1>aktualne zgloszenia </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">numer_pokoju</th>
      <th scope="col">nazwisko</th>
      <th scope="col">opis_usterki</th>
      <th scope="col">priorytet</th>
    </tr>
  </thead>
  <tbody>
   {% for transaction in transaction %}
    <tr>
      <td>{{transaction.nr_pokoju}}</td>
      <td>{{transaction.nazwisko}}</td>
      <td>{{transaction.opis_usterki}}</td>
        <td>{{transaction.priorytet}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">ACTION</button>
  <button type="button" class="btn btn-success btn-sm">EDIT</button>
  <button type="button" class="btn btn-danger">DELETE</button>

      </td>
    </tr>

  {% endfor %}

  </tbody>
</table>
<


{% endblock %}